AIC2022/
CLIPFeatures/
dataset/
hnswlib/
KeyFrames/
KeyFrames2/
P/
static/
submission/
submission1/
ty/
aic2022.zip
AIC2022.zip
backup_1207_2610.zip
backup.zip
backup1.zip
backup3.zip
query-pack-0.zip
query-pack-1.zip
query-pack-2.zip
submission.zip
submission1.zip
ty.zip
query/
query-pack-0/
query-pack-1/
query-pack-2/
query-1.csv
query-18.csv

































